.gift-code {
  .no-arrow[type="number"]::-webkit-inner-spin-button,
  .no-arrow[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .gift-card-result {
    display: none;
    margin-top: 20px;
    color: var(--black-color);

    span {
      color: var(--blue-color);
      font-weight: bold;
    }
  }
}
