@import "../colors";
.social-wrapper {
  @include gradient();
  position: relative;
  padding-bottom: 125px;

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
  }

  .gEIJqc {
    color: $white_color;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   right: 0;
  //   left: 0;
  //   bottom: 0;
  //   margin: auto;
  //   width: 100%;
  //   height: 41px;
  //   background: url(../../images/free-shape.png) no-repeat center center;
  //   background-size: 100% 100%;
  //   @include transform($property: rotate(180deg));
  // }

  .section-title {
    position: relative;
    display: table;
    margin: auto;
    background-color: #ffffff;
    padding-right: 15px;
    height: 50px;
    line-height: 51px;
    font-size: 1.35em;
    font-weight: bold;
    color: #0f2e7e;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 4rem;

    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      left: -150px;
      top: -1px;
      width: 150px;
      height: 51px;
      background: url(../../images/title-ribbon-white.png) no-repeat;
      background-size: 100% 100%;
    }
  }
}
