@import "../colors";
.why-wrapper {
  position: relative;
  min-height: 600px;
  padding-top: 25px !important;
  margin: auto;
  border-bottom-left-radius: 38%;
  overflow: visible;
  z-index: 1;
  overflow: hidden;
  background-color: $white_color;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: -2px;
  //   bottom: -3px;
  //   width: 463px;
  //   height: 389px;
  //   background: url("../../images/monhani.png") no-repeat;
  //   background-size: 100%;
  //   z-index: 2;
  // }

  .container {
    position: relative;
    z-index: 1;
  }

  .humanObj {
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 600px;
    z-index: 0;
  }

  .title-box {
    position: relative;
    border-bottom: 2px dashed #ccc;
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
    color: $blue_color;

    h2 {
      background-color: $blue_color;
      color: $white_color;
      width: 80%;
      height: 50px;
      margin-bottom: 1.5rem;
      font-size: 1.4em;
      // font-size: 2.5vw;
      line-height: 51px;
      padding: 0 20px;
      text-align: center;
      font-weight: bold;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -1px;
      height: 51px;
      width: 20%;
      background: url("../../images/title-ribbon.png") no-repeat;
      background-size: 100% 100%;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    li {
      width: 50%;
      display: flex;
      align-items: center;
      margin-bottom: 3rem;

      img {
        display: inline-block;
        margin-left: 10px;
        max-height: 35px;
      }

      h4 {
        font-size: 1em;
      }
    }
  }
}

@media (max-width: 769px) {
  .why-wrapper {
    min-height: unset;
  }
}
